:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --title-text-color: #2196f3;
  --white-color: #ffffff;
  --studio-color: #000000;
  --background-color-hero-roof: #2f303a;
  --background-color-team: #f5f4fa;
  --mail-tel-color: rgba(117, 117, 117, 1);
  --list-color: rgba(255, 255, 255, 0.6);
  --backgroun-color-button: #f5f4fa;
  --line-color-header: rgba(236, 236, 236, 1);
  --border-color-portfolio: #eeeeee;
  --shadov-color-team: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --set-line-px: 30px;
  --gradient-hero: rgba(47, 48, 58, 0.4);
  --background-hero: rgba(196, 196, 196, 1);
  --background-color-advetges: rgba(245, 244, 250, 1);
  --social-color: rgba(175, 177, 184, 1);
  --background-social-footer: rgba(255, 255, 255, 0.1);
  --color-transition: cubic-bezier(0.4, 0, 0.2, 1);
  --cards-background-color: rgba(33, 150, 243, 0.9);
  --work-discription-bcg: rgba(47, 48, 58, 0.8);
  --backdrop-background: rgba(0, 0, 0, 0.5);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  font-family: roboto;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  background-color: var(--title-text-color);
  cursor: pointer;
  border-radius: 4px;
  min-width: 216px;
  padding: 10px 32px;
  border: 1px solid transparent;
  color: var(--white-color);
}

.button__projects-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  color: var(--second-text-color);
  background-color: var(--backgroun-color-button);
  -webkit-transition: color 250ms var(--color-transition), background-color 250ms var(--color-transition), -webkit-box-shadow 250ms var(--color-transition);
  transition: color 250ms var(--color-transition), background-color 250ms var(--color-transition), -webkit-box-shadow 250ms var(--color-transition);
  transition: box-shadow 250ms var(--color-transition), color 250ms var(--color-transition), background-color 250ms var(--color-transition);
  transition: box-shadow 250ms var(--color-transition), color 250ms var(--color-transition), background-color 250ms var(--color-transition), -webkit-box-shadow 250ms var(--color-transition);
}
.button__projects-secondary:hover, .button__projects-secondary:focus {
  background-color: var(--title-text-color);
  color: var(--white-color);
  -webkit-box-shadow: var(--shadov-color-team);
          box-shadow: var(--shadov-color-team);
}/*# sourceMappingURL=main.css.map */