.advantages {
  @extend %section;
}

.advantages__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 10px;
  margin-top: 0;
}

.advantages__project {
  line-height: 1.71;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
  width: 270px;
}

.advantages__list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 90px) / 4);
}

.advantages {
  padding-bottom: 0;
}

.advantages__icon {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  background-color: var(--background-color-advetges);
  border-radius: 4px;
  height: 120px;
  align-items: center;
}

.advantages__icon-svg {
  width: 70px;
  height: 70px;
}
