.input-label {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-color-hero-roof);
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;
  color: var(--white-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 12px;
  margin-top: 0;
}

.modal-name {
  text-align: center;
}

.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.textarea-field {
  margin-bottom: 20px;
}

.icon-input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 30px;
  cursor: pointer;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  transition: border 250ms var(--color-transition);
}

.icon-input-comment {
  display: block;
  resize: none;

  width: 100%;
  height: 120px;

  padding: 12px 16px;

  cursor: pointer;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  font-size: 12px;
  line-height: 1.66;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
  transition: color 250ms var(--color-transition);
}

.icon-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: var(--second-text-color);
  transition: fill 250ms var(--color-transition);
}

.modal-list-icon:focus-within .icon-input,
.modal-field:focus-within .icon-input-comment {
  border-color: var(--title-text-color);
}

.modal-list-icon:focus-within .icon-svg {
  fill: var(--title-text-color);
}

.icon-label {
  display: block;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-list-icon {
  position: relative;
}

.checkbox-modal {
  margin-top: 20px;
  margin-left: 20px;
}

.send-form {
  width: 200px;
  height: 50px;
  margin-top: 30px;

  background-color: var(--title-text-color);
  border: transparent;
  color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;
  text-align: center;
}

.terms {
  color: var(--title-text-color);
  cursor: pointer;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

  &:checked + .svg-icon-agree {
    background-color: var(--title-text-color);
    border: transparent;
  }
}

.agree-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.svg-icon-agree {
  position: relative;

  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1.8px solid var(--second-text-color);
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 9px;
}

.elevation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
  fill: var(--white-color);
}
